<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>






    <!-- Vendor -->
    <script defer src="libs/jquery-3.5.1/jquery-3.5.1.min.js"></script>
    <script defer src="libs/popper-core-master/src/popper.js"></script>
    <script defer src="libs/bootstrap-5.1.3-dist/js/bootstrap.min.js"></script>
    <script defer src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script defer src="libs/WOW-master/dist/wow.min.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  
    <!-- My scripts -->
    <script defer src="js/main.min.js"></script>
    <script defer src="js/libs.min.js"></script>









</body>

</html>