<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <header class="second">
        <div class="container">
            <nav>
                <!-- Navbar brand -->
                <a href="index.html" class="brand">Template</a>
                <!-- Items -->
                <ul class="ml-auto">
                    <li><a href="index.html">Home
                        </a></li>
                    <li class="app-drop">
                        <a href="about.html">Company profile</a>
                        <div class="app-drop-content">
                            <div class="app-drop-content-body">
                                <a href="about.html">About us</a>
                                <a href="services.html">Our services</a>
                                <a href="choose.html">Why to choose us?</a>
                                <a href="blog.html">Our blog</a>
                            </div>
                        </div>
                    </li>
                    <li><a href="contacts.html">Contacts
                        </a></li>
                </ul>
                <!-- Ham button -->
                <svg class="ham hamRotate" viewBox="0 0 100 100" width="60">
                    <path class="line top"
                        d="m 70,33 h -40 c 0,0 -8.5,-0.149796 -8.5,8.5 0,8.649796 8.5,8.5 8.5,8.5 h 20 v -20" />
                    <path class="line middle" d="m 70,50 h -40" />
                    <path class="line bottom"
                        d="m 30,67 h 40 c 0,0 8.5,0.149796 8.5,-8.5 0,-8.649796 -8.5,-8.5 -8.5,-8.5 h -20 v 20" />
                </svg>
                <!-- Mobile navbar -->
                <div class="mob-nav">
                    <div>
                        <div class="list"></div>
                        <div class="list"></div>
                        <div class="list"></div>
                        <div class="list main">
                            <ul>
                                <li><a href="index.html">Home
                                    </a></li>
                                <li class="app-drop-mob">
                                    Company profile
                                    <div class="app-drop-mob-body">
                                        <a href="about.html">About us</a>
                                        <a href="services.html">Our services</a>
                                        <a href="choose.html">Why to choose us?</a>
                                        <a href="blog.html">Our blog</a>
                                    </div>
                                </li>
                                <li><a href="contacts.html">Contacts
                                    </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>

</body>

</html>