<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <!-- Modal -->
  <div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <i class="fal fa-times close" data-dismiss="modal"></i>
          <!-- Content -->
          <h5 class="modal-title" id="formModalLabel">The form</h5>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, reiciendis.</p>
          <form class="app-form">
            <input type="text" placeholder="Your name">
            <input type="email" placeholder="Your email">
            <input type="text" placeholder="Your phone number">
            <input type="text" placeholder="Your country">
            <input type="text" placeholder="Offered sum ">
            <input type="text" placeholder="Inquiry">
            <button class="app-btn app-btn-danger w-100">SEND</button>
          </form>
        </div>
      </div>
    </div>
  </div>

</body>

</html>